<div class="ui vertical inverted segment">
    <div class="ui secondary inverted pointing menu container">
        <a href="{% url 'home' %}" title="Permintaan Bukis Datin" class="item">ROSDCM</a>
        <a href="{% url 'collection:index' %}" title="Billing Jatuh Tempo" class="item">BJT</a>
        {% if user.is_authenticated %}
            <a href="{% url 'cdmsoro:index' %}" class="item">MCRS</a>
            <a href="{% url 'collection:validation' %}" class="item">CCRS</a>
        {% endif %}
        <div class="right menu">
            {% if user.is_authenticated %}
                <a class="item"><i class="ui user icon"></i> {{ request.user.profile.get_fullname|upper }}</a>
                <a href="{% url 'logout' %}" class="item"><i class="logout icon"></i> LOGOUT</a>
            {% else %}
            <div class="item">
                <a href="{% url 'login' %}" class="ui basic inverted button">LOGIN</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>