{% extends 'inner-base.html' %}

{% block title %}
Bukis CDM
{% endblock %}

{% block meta %}
    <!-- Meta -->
    {% block meta_content %}
    {% endblock %}
{% endblock %}

{% block content %}
<div class="ui vertical inverted menu visible sidebar">
    <div class="item">
        <h4 class="ui icon inverted header">
            <i class="gem outline icon"></i>
            <div class="content">
                CDMT
            </div>
        </h4>
    </div>
    <div class="item">
        System Managemen Order
        <div class="menu">
            <a href="{% url 'som:unlose_persume' %}" class="item">Permintaan Buka Isolir</a>
            <a href="{% url 'som:bukis_books' %}" class="item">Pencatatan Bukis</a>
        </div>
    </div>
    <div class="item">
        Biling Jatuh Tempo
        <div class="menu">
            <a href="{% url 'collection:validation' %}" class="item">Validasi</a>
            <a href="{% url 'collection:approval' %}" class="item">Approval</a>
        </div>
    </div>
</div>
<div class="pusher">
    {% include 'header.html' %}
    <div class="ui basic vertical segment">
        <div class="ui fluid container">
            <div class="ui padded grid">
                <div class="row">
                    <div class="column">
                        {% block sub_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('.message .close')
        .on('click', function() {
            $(this)
            .closest('.message')
            .transition('fade')
            ;
        });
        
    var load_modal = function() {
        var btn = $(this);
        $.ajax({
            url: btn.attr('target-url'),
            dataType: 'json',
            beforeSend: function() {
                $('.ui.modal').modal('show');
            },
            success: function(data) {
                $('.ui.modal').html(data.html);
            }
        });
        return false;
    }
});
</script>
{% endblock %}