{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Collection
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui container">
        <div class="ui large menu">
            <div class="item">
                <form action="" class="ui form">
                    <div class="field">
                        <div class="ui action input">
                            <input type="text" name="search" placeholder="Search Customer...">
                            <button class="ui basic button">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="ui top attached segment">

        </div>
        <table id="cust-id" class="ui attached striped table">
            <thead>
                <tr>
                    <th>BP NUMBER</th>
                    <th>CUSTOMER</th>
                    <th>SEGMEN</th>
                    <th class="right aligned">SALDO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer_list %}
                <tr>
                    <td>{{ customer.bp }}</td>
                    <td>
                            {{ customer.account_number }} - {{ customer.customer_name|upper }}
                    </td>
                    <td>{{ customer.segment|default:'-' }}</td>
                    <td class="right aligned">
                        <h4 class="ui header">
                            <div class="content">
                                <span title="Layak tagih">{{ customer.s_tagih|intcomma }}</span>
                                <div title="Piutang" class="sub header">
                                        {{ customer.cur_saldo|intcomma }}
                                </div>
                            </div>
                        </h4>
                    </td>
                    <td class="right aligned"><a href="{% url 'collection:customer_detail' customer.id %}"><i class="pencil icon"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if customer_list.has_other_pages %}
        <div class="ui pagination menu">
            {% for i in customer_list.paginator.page_range %}
            <a href="?page={{ i }}" class="item">{{ i }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}