{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Collection
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui container">
        <div class="ui large menu">
            <a href="{% url 'collection:segmen' %}" class="item">
                <i class="chart bar large icon"></i>
                CHART
            </a>
            <div class="item">
                <div class="ui floated labeled icon dropdown basic button">
                    <i class="filter icon"></i>
                    <span class="text">Segmen</span>
                    <div class="menu">
                        <div class="header">
                            <i class="tags icon"></i>
                            Tag Label
                        </div>
                        <div class="scrolling menu js-segment">
                            {% for segment in segment_list %}
                            <div data-item="{{ segment.segment }}" class="item {% if segment.segment == segmen %} active selected {% endif %}">
                                <div class="ui empty red circular label"></div>
                                {{ segment.segment }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui floated labeled icon dropdown button">
                    <i class="calendar icon"></i>
                    <span class="text">Periode</span>
                    <div class="menu js-period">
                        <div class="item" data-item="2019-3-1">
                            Maret 2019
                        </div>
                        <div class="item" data-item="2019-4-1">
                            April 2019
                        </div>
                        <div class="item" data-item="2019-5-1">
                            Mei 2019
                        </div>
                        <div class="item" data-item="2019-6-1">
                            Juni 2019
                        </div>
                    </div>
                </div>
            </div>
            <div class="right menu">
                <form action="{% url 'collection:api_customer_list' %}" class="ui form item js-search">
                    <div class="field">
                        <div class="ui icon search input">
                            <input type="text" name="search" style="border-radius:20px" placeholder="Search Customer...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if messages %}
        {% for msg in messages %}
            <div class="ui info message">
                <i class="close icon"></i>
                <div class="content">
                    <div class="ui header">Success!</div>
                    <p>{{ msg }}</p>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        <div id="i-content">
            <!-- Content -->
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {    
    var l_seg = null;
    var l_per = (new Date()).toISOString().slice(0,10);
    $('.ui.dropdown').dropdown();
    $.ajax({
        url: "{% url 'collection:api_customer_list' %}",
        dataType: 'json',
        success: function(data) {
            $('#i-content').html(data.html);
        }
    });
    var c_choice =  function(a, e, n=1) {
        $.ajax({
            url: "{% url 'collection:api_customer_list' %}",
            dataType: 'json',
            data: {'seg': a, 'period': e, 'page': n},
            success: function(data) {
                $('#i-content').html(data.html);
            }
        });
        return false;
    }

    $('.js-segment .item').on('click', function() {
        var btn = $(this);
        l_seg = btn.attr('data-item')
        c_choice(l_seg, l_per, 1);
    });

    $('.js-period .item').on('click', function() {
        var btn = $(this);
        l_per = btn.attr('data-item')
        c_choice(l_seg, l_per, 1);
    });

    $('.js-search').on('submit', function() {
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            dataType: 'json',
            data: form.serialize(),
            success: function(data) {
                $('#i-content').html(data.html);
            }
        });
        return false;
    });

    $('#i-content').on('click', '.js-page .item', function() {
        var btn = $(this);
        page = btn.attr('data-item');
        c_choice(l_seg, l_per, page);
        return false
    });
});
</script>
{% endblock %} 