{% extends 'base.html' %}
{% load humanize %}

{% block title %}
BJT Validation
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="column">
                {% if messages %}
                {% for msg in messages %}
                    <div class="ui info message">
                        <div class="header">Success!</div>
                        <p>{{ msg }}</p>
                    </div>
                {% endfor %}
                {% endif %}
                <div class="ui top attached menu">
                    <div class="right menu">
                        <form action="" class="ui form item">
                            <div class="ui icon input search">
                                <input type="text" name="q" class="prompt" placeholder="Search..." style="border-radius:20px">
                                <i class="search link icon"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="ui bottom attached small table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>CUSTOMER</th>
                            <th>FBCC</th>
                            <th>SEGMEN</th>
                            <th>PIUTANG</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cust in customer_list %}
                        <tr onclick="window.location.href='{% url 'collection:detail_validation' cust.id %}'">
                            <td>{{ customer_list.start_index|add:forloop.counter0 }}</td>
                            <td>
                                <a>{{ cust.bp }} / {{ cust.account_number }}</a>
                                <p>
                                    {{ cust.customer_name|upper }}
                                </p>
                            </td>
                            <td>{{ cust.fbcc.segment |default:'-' }}</td>
                            <td>{{ cust.segment.segment|default:'-' }}</td>
                            <td>
                                {{ cust.get_saldo.amount|default:0|intcomma }}
                            </td>
                            <td>
                                <!-- {% if not cust.is_valid %}
                                -
                                {% else %}
                                {{ cust.get_validation.get_validate_display|default:'-'}}
                                {% endif %} -->
                                {{ cust.get_response_cdm }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>Data empty</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if customer_list.has_other_pages %}
                    <div class="ui pagination menu js-page">
                        {% if customer_list.has_previous %}
                            <a href="?page={{ customer_list.previous_page_number }}" data-item="{{ customer_list.previous_page_number }}" class="item">&lt;</a>
                        {% else %}
                            <div class="item disabled">&lt;</div>
                        {% endif %}            

                        {% if customer_list.number|add:'-4' > 1 %}
                        <a href="?page={{ customer_list.number|add:'-5' }}" data-item="{{ customer_list.number|add:'-5' }}" class="item">&hellip;</a>
                        {% endif %}

                        {% for i in customer_list.paginator.page_range %}
                            {% if customer_list.number == i %}
                                <div class="item active ">{{ i }}</div>
                            {% elif i > customer_list.number|add:'-5' and i < customer_list.number|add:'5' %}
                                <a href="?page={{ i }}" data-item="{{ i }}" class="item">{{ i }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if customer_list.paginator.num_pages > customer_list.number|add:'4' %}
                        <a href="?page={{ customer_list.number|add:'5' }}" data-item="{{ customer_list.number|add:'5' }}" class="item">&hellip;</a>
                        {% endif %}

                        {% if customer_list.has_next %}
                            <a href="?page={{ customer_list.next_page_number }}" data-item="{{ customer_list.next_page_number }}" class="item">&gt;</a>
                        {% else %}
                            <div class="item disabled">&gt;</div>
                        {% endif %}   
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}