{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
{{ cust_obj.customer_name }}
{% endblock %}

{% block content %}
    <div class="ui vertical basic segment">
        <div class="ui container">
            <div class="ui segment" style="min-height:200px">
                <button onclick="window.history.back(); return false;"  class="ui icon labeled basic button">
                    <i class="angle left icon"></i>
                    BACK
                </button>

                <div class="ui top attached grey inverted menu">
                    <div class="item header">{{ cust_obj.bp }}</div>
                    <div class="item header">
                        {{ cust_obj.account_number }} - {{ cust_obj.customer_name }} ({{ cust_obj.segment|default:'...' }})
                    </div>
                    <div class="right menu">
                        <div class="item header">
                                PIUTANG (IDR) {{ cust_obj.cur_saldo|intcomma }}
                        </div>
                        <div class="item header">
                            <span class="t_nominal">{{ col_target.t_amount|intcomma }}</span>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached accordion segment">
                    <div class="title active">
                        <i class="dropdown icon"></i>
                        Detail
                    </div>
                    <form id="termin-form" action="" method="post" class="ui form content active">
                        {% csrf_token %}
                        {{ formset.management_form }}

                        {% for error in formset.non_form_errors %}
                        <div class="ui red message">{{ error }}</div>
                        {% endfor %}
                        
                        {% for form in formset %}
                        <div class="fields cust-formset">
                            {{ form.id }}
                            <div class="seven wide field">
                                <label for="{{ form.amount.id_for_label }}">Termin ke-{{ forloop.counter }}</label>
                                <div class="ui left labeled input">
                                    <div class="ui orange label">IDR</div>
                                    {{ form.amount }}
                                </div>
                                {% if form.amount.errors %}
                                    {% for error in form.amount.errors %}
                                    <small style="color:brown">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="five wide field datepick">
                                <label for="{{ form.due_date.id_for_label }}">Tanggal Jatuh Tempo</label>
                                <div class="ui left icon input">
                                    <i class="time icon"></i>
                                    {{ form.due_date }}
                                </div>
                                {% if form.due_date.errors %}
                                    {% for error in form.due_date.errors %}
                                    <small style="color:brown">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% if formset.can_delete %}
                            <div class="field">
                                {{ form.DELETE }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        
                        <div class="field" style="padding-top: 15px">
                            <label for="">Ket. Tambahan</label>
                            <textarea name="msg" id="" cols="30" rows="5" placeholder="Boleh dikosongkan..."></textarea>
                        </div>
                    </form>
                </div>
                <div id="upload-id" class="ui segment">
                    {% for av in cust_obj.avident_col.all %}
                    <a href="/media/{{ av.doc }}" target="_blank">
                        <i class="file alternate outline huge icon"></i>
                    </a>
                    {% endfor %}
                </div>

                <input id="fileupload" type="file" name="doc" multiple
                    style="display: none;"
                    data-url="{% url 'collection:customer_upload' cust_obj.id %}"
                    data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                <button class="ui blue button js-upload-photos" type="button">Upload Docs</button>
                <button class="ui orange button" type="submit" form="termin-form">Save</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'accounting.min.js' %}"></script>
<script src="{% static 'vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'jquery.iframe-transport.js' %}"></script>
<script src="{% static 'jquery.fileupload.js' %}"></script>

<script>
$(document).ready(function() {
    $('.c_nominal').on('change', function() {
        var sum = 0;
        $('.c_nominal').each(function() {
            sum += +$(this).val();
        });
        $('.t_nominal').html(accounting.formatNumber(sum));
    });

    function renewDatePickers() {
        $('.datepick').calendar('destroy');
        $('.datepick').calendar({
            type: 'month',
            minDate: new Date(),
            formatter: {
                date: function(date, settings) {
                    if (!date) return '';
                    var lastDay = new Date(date.getFullYear(), date.getMonth()+1, 0)
                    var day = lastDay.getDate();
                    var month = lastDay.getMonth() + 1;
                    var year = lastDay.getFullYear();
                    return year + '-' + month + '-' + day;
                }
            }
        });
    }

    $(renewDatePickers);
    
    $('.cust-formset').formset({
        addText : 'add link',
        deleteText: 'remove',
        prefix: '{{ formset.prefix }}',
        added: renewDatePickers
    });

    $(".js-upload-photos").click(function () {
        $("#fileupload").click();
    });

    $("#fileupload").fileupload({
        dataType: 'json',
        done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
            if (data.result.is_valid) {
                $('#upload-id').html(data.result.html);
            } else {
                alert('Failed to upload document. Max size 1Mb and only .pdf or image file.');
            }
        }
    });

});
</script>
{% endblock %}