{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui container">
        <div class="ui menu">
            <div class="item">
                <form action="" class="ui form">
                    <div class="field">
                        <div class="ui action input">
                            <input type="text" name="search" placeholder="Search Customer...">
                            <button class="ui basic button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="right menu">
                <a href="{% url 'collection:entry_data' %}" class="item">
                    <i class="add icon"></i> Entry Data
                </a>
            </div>
        </div>

        <div class="ui top attached segment">

        </div>
        <table class="ui celled attached striped large table">
            <thead>
                <tr>
                    <th>CUSTOMER</th>
                    <th>SEGMEN</th>
                    <th>TAGIHAN (IDR)</th>
                    <th>LAYAK TAGIH (IDR)</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customer_list %}
                <tr>
                    <td>
                        <h4 class="ui header">
                            <div class="sub header">{{ customer.bp }} / {{ customer.account_number }}</div>
                            {{ customer.customer_name|upper }}
                        </h4>
                    </td>
                    <td>{{ customer.segment|default:'-' }}</td>
                    <td>{{ customer.get_saldo.amount|default:'0'|intcomma }}</td>
                    <td>
                        {% if customer.s_tagih < customer.get_saldo.amount %}
                            {{ customer.s_tagih|intcomma }}
                        {% else %}
                            {{ customer.get_saldo.amount|default:'0'|intcomma }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}