{% extends 'collection/base.html' %}
{% load humanize %}

{% block title %}
Approval
{% endblock %}

{% block sub_content %}
<div class="ui vertical basic segment">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="row">
                <div class="column">
                    <table class="ui small table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>CUSTOMER</th>
                                <th>UNLOCK</th>
                                <th>PIUTANG</th>
                                <th>STATUS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in validation_list %}
                            <tr onclick="window.location.href='{% url 'collection:detail_approval' v.id %}'">
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="#">{{ v.customer.bp }} / {{ v.customer.account_number }}</a><br>
                                    {{ v.customer.customer_name }}
                                </td>
                                <td>
                                    {% if customer.unlock %}
                                        <i class="check circle green icon"></i>
                                    {% endif %}
                                </td>
                                <td>{{ v.customer.cur_saldo|intcomma }}</td>
                                <td>{{ v.customer.get_status_display }}</td>
                                <td>{{ v.timestamp }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>Empty</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

