{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Collection Segmen
{% endblock %}

{% block content %}
<div class="ui basic vertical segment">
    <div class="ui fluid container">
        <div class="ui padded stackable grid">
            <div class="row">
                <div class="column">
                    <div class="segment">
                        <div id="chart" style="height:300px">
                            <!-- Content -->
                        </div>
                        <table id="segment-id" class="ui table">
                            <tbody>
                                {% for segment in segment_list %}
                                <tr target-url="{% url 'collection:account' %}">
                                    <td>
                                        {{ segment.segment }}
                                    </td>
                                    <td class="right aligned">
                                        <h4 class="ui header">
                                            {{ segment.t_tagih|intcomma }}
                                            <div class="sub header">
                                                {{ segment.s_saldo|intcomma }}
                                            </div>
                                        </h4>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
$(document).ready(function() {
    $.ajax({
        url: "{% url 'collection:api_segment' %}",
        dataType: 'json',
        success: function(data) {
            Highcharts.chart('chart', data);
        }
    });

    $('#segment-id tr').click(function() {
       window.location.href = $(this).attr('target-url'); 
    });
});
</script>
{% endblock %}