{% extends 'inner-base.html' %}

{% block meta %}
    {% block sub_meta %}
    {% endblock %}
{% endblock %}

{% block css %}
<style>
    .full.height {
        display: flex;
        flex-direction: row;
    }
    .full.height > .toc {
        position: fixed;
        z-index: 1;
        width: 200px;
        flex: 0 0 auto;
        -webkit-box-flex: 0;
        background-color: #1b1c1d;
        min-height: 2000px;
    }
    .full.height > .article {
        flex: 1 1 auto;
        margin-left: 200px;
        min-width: 0px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="ui vertical inverted large menu sidebar">
        <div class="item">
            <h4 class="ui icon inverted header">
                <i class="gem outline icon"></i>
                <div class="content">
                    CDMT
                </div>
            </h4>
        </div>
        <div class="item">
            System Managemen Order
            <div class="menu">
                <a href="{% url 'som:unlose_persume' %}" class="item">Permintaan Buka Isolir</a>
                <a href="{% url 'som:bukis_books' %}" class="item">Pencatatan Bukis</a>
                <a href="{% url 'som:report' %}" class="item">Report Order Tunggakan</a>
            </div>
        </div>
        <div class="item">
            Biling Jatuh Tempo
            <div class="menu">
                <a href="{% url 'collection:validation' %}" class="item">Validasi</a>
                <a href="{% url 'collection:approval' %}" class="item">Approval</a>
            </div>
        </div>
    </div>
    <div class="pusher">
        <div class="full height">
            <div class="toc">
                <div class="ui vertical inverted fluid menu">
                    <div class="item">
                        <h4 class="ui icon inverted header">
                            <i class="gem outline icon"></i>
                            <div class="content">
                                CDMT
                            </div>
                        </h4>
                    </div>
                    <div class="item">
                        <h4 class="ui inverted header">
                            <i class="user icon"></i>
                            <div class="content">
                                <div class="sub header">
                                    Welcome, 
                                </div>
                                {{ user.first_name|title }}                                
                            </div>
                        </h4>
                    </div>
                    <a href="{% url 'home' %}" class="item">
                        <i class="home icon"></i>
                        Home
                    </a>
                    <div class="item">
                        System Managemen Order
                        <div class="menu">
                            <a href="{% url 'som:unlose_persume' %}" class="item">Permintaan Buka Isolir</a>
                            <a href="{% url 'som:bukis_books' %}" class="item">Laporan Buka Isolir</a>
                        </div>
                    </div>
                    <div class="item">
                        Biling Jatuh Tempo
                        <div class="menu">
                            <a href="{% url 'collection:validation' %}" class="item">Validasi</a>
                            <a href="{% url 'collection:approval' %}" class="item">Approval</a>
                        </div>
                    </div>
                    <a href="{% url 'logout' %}" class="item">
                        <i class="logout icon"></i>
                        Logout
                    </a>
                </div>
            </div>
            <div class="article">
                {% block sub_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}