{% extends 'som/base.html' %}

{% block title %}
Record Buka Isolir
{% endblock %}

{% block sub_content %}
<div class="ui basic vertical segment">
    <div class="ui fluid container">
        <div class="ui orizontally padded grid">
            <div class="row">
                <div class="column">
                    <h3 class="ui center aligned header">
                        Record Hasil Buka Isolir
                    </h3>
                    <div class="ui segment">
                        <form action="" class="ui form">
                            <div class="fields">
                                <div class="field">
                                    <label for="">Tanggal Suspend</label>
                                    <div class="ui custom calendar">
                                        <div class="ui icon input">
                                            <i class="calendar icon"></i>
                                            <input name="sdate" readonly type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="">Tanngal Resume</label>
                                    <div class="ui custom calendar">
                                        <div class="ui icon input">
                                            <i class="calendar icon"></i>
                                            <input name="rdate" readonly type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="">Search Text</label>
                                <input name="q" type="text">
                            </div>
                            <div class="field">
                                <button class="ui orange button">
                                    <i class="search icon"></i>
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <table class="ui striped small table">
                        <thead>
                            <tr>
                                <th class="collapsing">#</th>
                                <th>Account</th>
                                <th>Susupend</th>
                                <th>Suspend Date</th>
                                <th>Resume</th>
                                <th>Resume Date</th>
                                <th>Validator</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in permin_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="#">{{ i.sid.account.account_number }} - {{ i.sid.account.customer_name }}</a> <br>
                                    {{ i.sid }}
                                </td>
                                <td>
                                    <div class="ui sub header">
                                        SO {{ i.suspend }}
                                    </div>
                                    <span>{{ i.suspend.status|default:'-' }}</span>
                                </td>
                                <td>{{ i.suspend.dbcreate_on|date:"d/m/Y H:i" }}</td>
                                <td>
                                    <div class="ui sub header">
                                        RO {{ i.resume }}
                                    </div>
                                    <span>{{ i.resume.status|default:'-' }}</span>
                                </td>
                                <td>{{ i.resume.dbcreate_on|date:"d/m/Y H:i" }}</td>
                                <td>
                                    Validated by <br>
                                    <a>{{ i.executor.first_name|title }}</a>
                                </td>
                                <td class="collapsing">
                                    <a href="#" class="js-doc-btn" target-url="{% url 'som:doc_list' i.id %}"><i class="paperclip icon"></i> {{ i.doc_c }}</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">
                                    <div class="ui placeholder basic segment">
                                        <div class="ui icon header">
                                            <i class="search icon"></i>
                                            We don't have any documents matching your query
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if permin_list.has_other_pages %}
                        <div class="ui pagination menu js-page">
                            {% if permin_list.has_previous %}
                                <a href="?page={{ permin_list.previous_page_number }}" data-item="" class="item">&lt;</a>
                            {% else %}
                                <div class="item disabled">&lt;</div>
                            {% endif %}            

                            {% if permin_list.number|add:'-4' > 1 %}
                            <a href="?page={{ permin_list.number|add:'-5' }}" data-item="" class="item">&hellip;</a>
                            {% endif %}

                            {% for i in permin_list.paginator.page_range %}
                                {% if permin_list.number == i %}
                                    <div class="item active ">{{ i }}</div>
                                {% elif i > permin_list.number|add:'-5' and i < permin_list.number|add:'5' %}
                                    <a href="?page={{ i }}" data-item="{{ i }}" class="item">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if permin_list.paginator.num_pages > permin_list.number|add:'4' %}
                            <a href="?page={{ permin_list.number|add:'5' }}" data-item="" class="item">&hellip;</a>
                            {% endif %}

                            {% if permin_list.has_next %}
                                <a href="?page={{ permin_list.next_page_number }}" data-item="" class="item">&gt;</a>
                            {% else %}
                                <div class="item disabled">&gt;</div>
                            {% endif %}   
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $('.ui.custom.calendar').calendar({
        monthFirst: false,
        type: 'date',
        formatter: {
        date: function (date, settings) {
            if (!date) return '';
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();
            return year + '-' + month + '-' + day;
        }
        }
    });
    $('.js-doc-btn').click(function() {
        var btn = $(this);
        $.ajax({
            url: btn.attr('target-url'),
            dataType: 'json',
            beforeSend: function() {
            $('.ui.modal').addClass('mini').modal('show');
            },
            success: function(data) {
            $('.ui.modal').html(data.html);
            }
        })
    });
});
</script>
{% endblock %}