{% extends 'som/base.html' %}
{% load templatehelpers %}


{% block title %}
Report Order Eksekutor Tunggakan
{% endblock %}

{% block sub_content %}
<div class="ui basic vertical segment">
    <div class="ui fluid container">
        <div class="ui orizontally padded grid">
            <div class="row">
                <div class="column">
                    <h3 class="ui center aligned header">
                        Laporan Order Tunggakan
                    </h3>
                    <table class="ui striped very basic table">
                        <thead>
                            <tr>
                                <th>STATUS</th>
                                <th>ANDERI.S</th>
                                <th>DIVA</th>
                                <th>FRISA.M</th>
                                <th>MAYA.W</th>
                                <th>MUNAWAR.C</th>
                                <th>RAHMAT.S</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in order_resume %}
                            <tr>
                                <td>{{ i.status }}</td>
                                <td>{{ i.anderi }}</td>
                                <td>{{ i.diva }}</td>
                                <td>{{ i.frisa }}</td>
                                <td>{{ i.maya }}</td>
                                <td>{{ i.munawar }}</td>
                                <td>{{ i.rahmat }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>TOTAL</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
