{% extends 'som/base.html' %}
{% load templatehelpers %}


{% block title %}
Report Order Eksekutor Tunggakan
{% endblock %}

{% block sub_content %}
<div class="ui basic vertical segment">
    <div class="ui fluid container">
        <div class="ui orizontally padded grid">
            <div class="row">
                <div class="column">
                    <h3 class="ui center aligned header">
                        OGP Order
                    </h3>
                    <table class="ui striped very basic table">
                        <thead>
                            <tr>
                                <th>STATUS</th>
                                <th>ANDERI.S</th>
                                <th>DIVA</th>
                                <th>FRISA.M</th>
                                <th>MAYA.W</th>
                                <th>MUNAWAR.C</th>
                                <th>RAHMAT.S</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in order_resume %}
                            <tr>
                                <td>{{ i.status }}</td>
                                <td><a href="{% url 'som:order_list' %}?status={{ i.status }}&create_by=SETIAWAN, ANDERI">{{ i.anderi }}</a></td>
                                <td><a href="{% url 'som:order_list' %}?status={{ i.status }}&create_by=MUTIARA LIWANRI, AFIFAH">{{ i.diva }}</a></td>
                                <td><a href="{% url 'som:order_list' %}?status={{ i.status }}&create_by=MAHARANI, FRISA">{{ i.frisa }}</a></td>
                                <td><a href="{% url 'som:order_list' %}?status={{ i.status }}&create_by=WIDYA SARI, MAYA">{{ i.maya }}</a></td>
                                <td><a href="{% url 'som:order_list' %}?status={{ i.status }}&create_by=CHALIL, MUNAWAR">{{ i.munawar }}</a></td>
                                <td><a href="{% url 'som:order_list' %}?status={{ i.status }}&create_by=SABARUDIN, RAHMAT">{{ i.rahmat }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>TOTAL</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
