{% extends 'base.html' %}

{% block title %}
Detail Unvalidate Request
{% endblock %}

{% block content %}
<div class="ui vertical basic segment">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="row">
                <div class="column">
                    <div class="ui segment">
                        <div class="ui breadcrumb">
                            <a href="{% url 'cdmsoro:unvalidate' %}" class="section">Unvalidate Data</a>
                            <div class="divider">/</div>
                            <div class="active section">{{ bukis.sid }}</div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <h4 class="ui header">Permintaan Bukis</h4>
                        <table class="ui basic celled table">
                            <thead>
                                <tr>
                                    <th class="three wide">Account / Circuit</th>
                                    <th>{{ bukis.sid.account }} / {{ bukis.sid }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Suspend Order</td>
                                    <td>{{ bukis.suspend }} - {{ bukis.suspend.status }}</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>{{ bukis.pic }}</td>
                                </tr>
                                <tr>
                                    <td>Keterangan</td>
                                    <td>{{ bukis.message }}</td>
                                </tr>
                                <tr>
                                    <td>Avident</td>
                                    <td>
                                        {% for avident in bukis.avident_set.all %}
                                            <a href="/media/{{ avident.document }}"><i class="file icon"></i> Document pendukung</a>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% if bukis.get_validation %}
                    <div class="ui segment">
                        <div class="ui comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://semantic-ui.com/images/avatar/small/steve.jpg" alt="">
                                </a>
                                <div class="content">
                                    <a class="author">You</a>
                                    {{ bukis.get_validation.get_action_display|lower }}
                                    <div class="metadata">
                                        <div class="date"> at {{ bukis.get_validation.timestamp }}.</div>
                                    </div>
                                    <div class="text">
                                        {{ bukis.get_validation.message }}
                                    </div>
                                </div>
                            </div>
                            {% for job in bukis.updatepermintaan_set.all %}
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg" alt="">
                                </a>
                                <div class="content">
                                    <a class="author">Uploder</a>
                                    update post at
                                    <div class="metadata">
                                        <div class="date">{{ job.timestamp }}</div>
                                    </div>
                                    <div class="text">
                                        {{ job.message }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="ui orange segment">
                        <form action="" method="post" class="ui form">
                            {% csrf_token %}
                            <div class="fields">
                                <div class="three wide field">
                                    {{ form.action }}
                                </div>
                                <div class="ten wide field">
                                    {{ form.message }}
                                </div>
                                <div class="three wide field">
                                    <button class="ui orange fluid button">Save Validation</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}