{% extends 'base.html' %}

{% block title %}
Unvalidate Request
{% endblock %}

{% block content %}
<div class="ui basic vertical segment">
    <div class="ui fluid container">
        <div class="ui padded stackable grid">
            <div class="row">
                <div class="three wide column">
                    <div class="ui vertical fluid menu">
                        <a href="{% url 'cdmsoro:bukis_action' %}" class="active item">Bukis Saya</a>
                        <a href="{% url 'cdmsoro:unclose_order' %}" class="item">Order Not Complete</a>
                    </div>
                </div>
                <div class="thirteen wide column">
                    <div class="row">
                        {% for bukis in bukis_list %}
                        <div class="four wide column">
                            <div class="ui red segment">
                                <div class="ui items">
                                    <div class="item">
                                        <div class="content">
                                            <div class="header">{{ bukis.sid }}</div>
                                            <div class="meta">
                                                <small>
                                                    <i class="calendar icon"></i>
                                                    {{ bukis.timestamp }}
                                                </small>
                                            </div>
                                            <div class="description">
                                                {{ bukis.suspend }} <br>
                                                {{ bukis.suspend.status|default:"-" }}
                                                <p>
                                                    <a class="link" href="{% url 'cdmsoro:bukis_action_detail' bukis.id %}">Detail <i class="right arrow icon"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="center aligned column">
                            <h4>Tidak ada order permintaan bukis.</h4>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="column">
                                {% if is_paginated %}
                                <div class="ui pagination menu">
                                    {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}" class="item">Prev</a>
                                    {% else %}
                                    <div class="item">Prev</div>
                                    {% endif %}
                                    {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="item">Next</a>
                                    {% else %}
                                    <div class="item">Next</div>
                                    {% endif %}
                                </div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}