{% extends 'base.html' %}

{% block content %}
<div class="ui basic vertical segment">
    <div class="ui container">
        <div class="ui padded stackable grid">
            <div class="row">
                <div class="three wide column">
                    <div class="ui vertical menu">
                        <a href="{% url 'cdmsoro:bukis_action' %}" class="item">Bukis Saya</a>
                        <a href="{% url 'cdmsoro:unclose_order' %}" class="active item">Order Not Complete</a>
                    </div>
                </div>
                <div class="thirteen wide column">
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Order Number</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Create By</th>
                                <th>Create On</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in order_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.order_number }}</td>
                                <td>{{ order.status }}</td>
                                <td>{{ order.get_type_order_display|title }}</td>
                                <td>{{ order.create_by.username||title }}</td>
                                <td>{{ order.timestamp }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">Empty</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if is_paginated %}
                    <div class="ui pagination menu">
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="item">Prev</a>
                        {% else %}
                        <div class="item">Prev</div>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="item">Next</a>
                        {% else %}
                        <div class="item">Next</div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}