{% extends 'base.html' %}

{% block title %}
Circuit Suspend Order
{% endblock %}

{% block content %}
<div class="ui basic vertical segment">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="row">
                <div class="column">
                    <div class="ui steps">
                        <div class="step">
                            <i class="search icon"></i>
                            <div class="content">
                                <div class="title">
                                    Search
                                </div>
                                <div class="description">
                                    Cari customer atau sirkuit
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <i class="clipboard list icon"></i>
                            <div class="content">
                                <div class="title">Select</div>
                                <div class="description">
                                    Pilih sid yang tersuspend
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <i class="document form"></i>
                            <i class="pencil icon"></i>
                            <div class="content">
                                <div class="title">
                                    Fill
                                </div>
                                <div class="description">
                                    Isi form buka isolir
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="" class="ui form">
                        <div class="four wide field">
                            <div class="ui right icon input">
                                <i class="search icon"></i>
                                <input type="text" name="q" placeholder="Search..." style="border-radius:20px">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui top attached menu">
                        <div class="right menu">
                            <div class="item">{{ c_circuit.c_suspend }} Suspend</div>
                        </div>
                    </div>
                    <table class="ui bottom attached small table">
                        <tbody>
                            {% for i in circuit_list %}
                            <tr ondblclick="window.location.href='{% url 'cdmsoro:v3_circuit_detail' i.id %}'">
                                <td>
                                    <a href="{% if not i.is_active %}{% url 'cdmsoro:v3_circuit_detail' i.id %}{% endif %}">{{ i.account.customer_name }}</a> <br>
                                    {{ i.sid }}
                                </td>
                                <td>
                                    <div class="ui list">
                                        <div class="header">{{ i.get_last_order.type_order}} {{ i.get_last_order }}</div>
                                        {{ i.get_last_order.status|default:'-' }}
                                    </div>
                                </td>
                                <td>
                                    {% if i.get_permit_bukis %}
                                        <div class="ui feed">
                                            <div class="event">
                                                <div class="content">
                                                    <div class="summary">
                                                        Request bukis  by <a>{{ i.get_permit_bukis.pic }}</a>
                                                    </div>
                                                    <div class="meta">
                                                        <div class="date">{{ i.get_permit_bukis.get_status_display }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="right aligned">
                                    {% if i.is_active %}
                                    <div class="ui feed">
                                        <div class="event">
                                            <div class="content">
                                                <div class="summary">Active</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="ui feed">
                                            <div class="event">
                                                <div class="content">
                                                    <div class="summary">Suspend</div>
                                                    <div class="meta">
                                                        <div class="date">{{ i.get_last_order.get_order_label_display }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="right aligned">
                                    <a href="#">
                                        <i class="dropdown icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if circuit_list.has_other_pages %}
                        <div class="ui pagination menu js-page">
                            {% if circuit_list.has_previous %}
                                <a href="?page={{ circuit_list.previous_page_number }}" data-item="" class="item">&lt;</a>
                            {% else %}
                                <div class="item disabled">&lt;</div>
                            {% endif %}            

                            {% if circuit_list.number|add:'-4' > 1 %}
                            <a href="?page={{ circuit_list.number|add:'-5' }}" data-item="" class="item">&hellip;</a>
                            {% endif %}

                            {% for i in circuit_list.paginator.page_range %}
                                {% if circuit_list.number == i %}
                                    <div class="item active ">{{ i }}</div>
                                {% elif i > circuit_list.number|add:'-5' and i < circuit_list.number|add:'5' %}
                                    <a href="?page={{ i }}" data-item="{{ i }}" class="item">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if circuit_list.paginator.num_pages > circuit_list.number|add:'4' %}
                            <a href="?page={{ circuit_list.number|add:'5' }}" data-item="" class="item">&hellip;</a>
                            {% endif %}

                            {% if circuit_list.has_next %}
                                <a href="?page={{ circuit_list.next_page_number }}" data-item="" class="item">&gt;</a>
                            {% else %}
                                <div class="item disabled">&gt;</div>
                            {% endif %}   
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock %}