{% extends 'base.html' %}

{% block title %}
Bukis CDM
{% endblock %}

{% block meta %}
    <!-- Meta -->
    {% block meta_content %}
    {% endblock %}
{% endblock %}

{% block content %}
<div class="ui basic vertical segment">
    <div class="ui fluid container">
        <div class="ui padded stackable grid">
            <div class="row">
                <div class="three wide column">
                    <div id="v2-menu" class="ui vertical fluid menu">
                        <a href="{% url 'cdmsoro:per_bukis_list' %}" class="item">
                            <i class="bars icon"></i> Permintaan Buka Isolir
                        </a>
                        <a href="{% url 'cdmsoro:uncomplete' %}" class="item">
                            <i class="home icon"></i> Order No.Bilcom
                        </a>
                        <a href="{% url 'cdmsoro:manual_record' %}" class="item">
                            <i class="user icon"></i> Manual Bukis Record
                        </a>
                    </div>
                </div>
                <div class="thirteen wide column">
                    {% block cdmsoro_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    var load_modal = function() {
        var btn = $(this);
        $.ajax({
            url: btn.attr('target-url'),
            dataType: 'json',
            beforeSend: function() {
                $('.ui.modal').modal('show');
            },
            success: function(data) {
                $('.ui.modal').html(data.html);
            }
        });
        return false;
    }

    $('.js-laporsoro').click(load_modal);
});
</script>
{% endblock %}