{% extends 'cdmsoro/v2/base.html' %}

{% block meta_content %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block cdmsoro_content %}
<table class="ui small striped table">
    <thead>
        <tr>
            <th>#</th>
            <th>Circuit</th>
            <th>Ket. Bukis</th>
            <th>Suspend</th>
            <th>Entry By</th>
            <th>Executor</th>
            <th>Status Validation</th>
            <th>Create On</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        {% for per_bukis in bukis_list %}
        <tr>
            <td>{{ forloop.counter0|add:bukis_list.start_index }}</td>
            <td>{{ per_bukis.sid }}</td>
            <td>{{ per_bukis.message|truncatechars:25 }}</td>
            <td>{{ per_bukis.suspend }} <br>{{ per_bukis.suspend.status|default:'-'}} </td>
            <td><a class="" href="https://t.me/{{ per_bukis.has_telegram }}" target="_blank" title="Telegram to {{ per_bukis.pic }}"><i class="telegram icon"></i> Send</a></td>
            <td>{{ per_bukis.executor|title }}</td>
            <td>{% if per_bukis.validate %} {{ per_bukis.get_validation.get_action_display|default:'-' }} {% endif %}</td>
            <td>{{ per_bukis.timestamp }}</td>
            <td>
                <a href="{% url 'cdmsoro:detail_per_bukis' per_bukis.id %}" class="">
                    <i class="bolt icon"></i> Action
                </a>
                {% if not per_bukis.suspend.closed %}
                <br>
                <a href="#" target-url="{% url 'cdmsoro:v2_lapor' per_bukis.suspend.id %}" class=" btn-lapor {% if per_bukis.suspend.closed %} disabled {% endif %} js-laporsoro">
                    <i class="bullhorn icon"></i> Lapor
                </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No found data.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if bukis_list.has_other_pages %}
    <div class="ui pagination menu">
        {% for i in bukis_list.paginator.page_range %}
            {% if i == bukis_list.number %}
            <div class="item">{{ i }}</div>
            {% else %}
            <a href="?page={{ i }}" class="item">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}