{% extends 'cdmsoro/v2/base.html' %}

{% block cdmsoro_content %}
<div class="ui menu">
    <div class="item">
        <form action="" class="ui form">
            <div class="field">
                <div class="ui action input">
                    <input type="text" name="search" placeholder="Search Circuit">
                    <button class="ui basic button" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="ui small table">
    <thead>
        <tr>
            <th>#</th>
            <th>Circuit</th>
            <th>Suspend</th>
            <th>Ket. Error</th>
            <th>Executor</th>
            <th>Create On</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        {% for per_bukis in bukis_list %}
        <tr>
            <td>{{ forloop.counter0|add:bukis_list.start_index }}</td>
            <td>{{ per_bukis.sid }}</td>
            <td>{{ per_bukis.suspend }} <br>{{ per_bukis.suspend.status }}</td>
            <td>{{ per_bukis.get_error_msg|truncatechars:100 }}</td>
            <td>{{ per_bukis.executor|title }}</td>
            <td>{{ per_bukis.timestamp }}</td>
            <td>
                <a href="{% url 'cdmsoro:detail_manual' per_bukis.id %}">
                    <i class="bolt icon"></i> Action
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Empty data.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if bukis_list.has_other_pages %}
    <div class="ui pagination menu">
        {% for i in bukis_list.paginator.page_range %}
            {% if i == bukis_list.number %}
            <div class="item">{{ i }}</div>
            {% else %}
            <a href="?page={{ i }}" class="item">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}