{% extends 'cdmsoro/v2/base.html' %}

{% block cdmsoro_content %}
<table class="ui small table">
    <thead>
        <tr>
            <th>#</th>
            <th>Order Number</th>
            <th>Status Milestone</th>
            <th>Create By</th>
            <th>Create On</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        {% for order in order_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ order.order_number }}</td>
            <td>{{ order.status|default:'-'}}</td>
            <td>{{ order.create_by }}</td>
            <td>{{ order.timestamp }}</td>
            <td>
                <button  class="ui small orange button">Uncompete</button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Not found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if order_list.has_other_pages %}
    <div class="ui pagination menu"></div>
        {% for i in order_list.paginator.page_range %}
            {% if i == order_list.number %}
            <div class="item">{{ i }}</div>
            {% else %}
            <a href="?page={{ i }}" class="item">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}