{% load humanize %}

{% if messages %}
    {% for msg in messages %}
    <div class="ui info message">
        <i class="close icon"></i>
        <div class="header">Success!</div>
        <p>{{ msg }}</p>
    </div>
    {% endfor %}
{% endif %}
<div class="ui vertical basic clearing segment">
    <div class="ui right floated header">
        {{ cust.get_saldo.amount|default:'0'|intcomma}}
    </div>
    <div class="ui header">
        {{ cust.customer_name|upper }}
        <div class="sub header">
            {{ cust.account_number }} ({{ cust.segment }})
        </div>
    </div>
</div>

<form action="{% url 'collection:api_detail_customer' cust.id %}" method="post" enctype="multipart/form-data" class="ui inline form js-formset">
    {% csrf_token %}
    {{ formset.management_form }}
    <div style="max-height:370px;overflow-y:scroll; overflow-x: hidden">
    {% for form in formset %}
        <div class="fields cust-formset">
            {{ form.id }}
            <div class="five wide field">
                <label for="{{ form.amount.id_for_label }}">Amount</label>
                <div class="ui labeled input">
                    <div class="ui label">IDR</div>
                    {{ form.amount }}
                </div>
                {% if form.amount.errors %}
                    {% for error in form.amount.errors %}
                    <small style="color:brown">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="five wide field">
                <label for="{{ form.amount.id_for_label }}">Date</label>
                {{ form.due_date }}
                {% if form.due_date.errors %}
                    {% for error in form.due_date.errors %}
                    <small style="color:brown">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="field" style="padding-top:15px">
        <button class="ui orange button js-upload-photos" type="button">Upload Documents</button>
        <button type="submit" class="ui teal button">Save Record</button>
    </div>
</form>

<input id="fileupload" type="file" name="doc" multiple
       style="display: none;"
       data-url="{% url 'collection:customer_upload' cust.id %}"
       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

<script>
$('.cust-formset').formset({
    addText : 'add link',
    deleteText: 'remove',
    prefix: '{{ formset.prefix }}'
});

$(".js-upload-photos").click(function () {
    $("#fileupload").click();
});

$("#fileupload").fileupload({
    dataType: 'json',
    done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
        if (data.result.is_valid) {
            alert('Success uploading document.');
        }
    }
});
</script>