{% load humanize %}
{% load static %}

<div class="ui top attached clearing teal segment">
    <div class="ui mini right floated grey statistic">
        <div class="label">Layak Tagih</div>
        <div class="value">
            {{ customer_resume.total_tagih|default:0|intcomma }}
        </div>
    </div>
    <div class="ui mini right floated red statistic">
        <div class="label">Piutang</div>
        <div class="value">
            {{ customer_resume.piutang|default:0|intcomma }}
        </div>
    </div>
</div>

<table id="cust-id" class="ui bottom attached striped table">
    <thead>
        <tr>
            <th>BP NUMBER</th>
            <th>CUSTOMER</th>
            <th>FBCC</th>
            <th>SEGMEN</th>
            <th>LAST VALIDATED</th>
            <th class="right aligned">SALDO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customer_list %}
        <tr ondblclick="window.location.href='{% url 'collection:customer_detail' customer.id %}'">
            <td><a href="{% url 'collection:customer_detail' customer.id %}">{{ customer.bp }}</a></td>
            <td>
                    {{ customer.account_number }} - {{ customer.customer_name|upper }}
            </td>
            <td>{{ customer.fbcc|default:'-' }}</td>
            <td>{{ customer.segment|default:'-' }}</td>
            <td><strong>{{ customer.get_validation.get_validate_display|default:''|title }}</strong> {{ customer.get_validation.timestamp|naturaltime }}</td>
            <td class="right aligned">
                <h4 class="ui header">
                    <div class="content">
                        <span title="Layak tagih">{{ customer.s_tagih|intcomma }}</span>
                        <div title="Piutang" class="sub header">
                            {{ customer.cur_saldo|intcomma }}
                        </div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">
                {% if request.user.is_authenticated %}
                <a href="{% url 'collection:detail_validation' customer.id %}"><i class="setting icon"></i></a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>
                Not found.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if customer_list.has_other_pages %}
<div class="ui pagination menu js-page">
    {% if customer_list.has_previous %}
        <a href="" data-item="{{ customer_list.previous_page_number }}" class="item">&lt;</a>
    {% else %}
        <div class="item disabled">&lt;</div>
    {% endif %}            

    {% if customer_list.number|add:'-4' > 1 %}
    <a href="#" data-item="{{ customer_list.number|add:'-5' }}" class="item">&hellip;</a>
    {% endif %}

    {% for i in customer_list.paginator.page_range %}
        {% if customer_list.number == i %}
            <div class="item active ">{{ i }}</div>
        {% elif i > customer_list.number|add:'-5' and i < customer_list.number|add:'5' %}
            <a href="#" data-item="{{ i }}" class="item">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if customer_list.paginator.num_pages > customer_list.number|add:'4' %}
    <a href="#" data-item="{{ customer_list.number|add:'5' }}" class="item">&hellip;</a>
    {% endif %}

    {% if customer_list.has_next %}
        <a href="#" data-item="{{ customer_list.next_page_number }}" class="item">&gt;</a>
    {% else %}
        <div class="item disabled">&gt;</div>
    {% endif %}   
</div>
{% endif %}