{% load humanize %}

<thead>
    <tr>
        <th>SEGMEN</th>
        {% for i in period %}
        <th class="right aligned">{{ i|date:"M Y" }}</th>
        {% endfor %}
        <th class="right aligned">T.PIUTANG</th>
    </tr>
</thead>
<tbody>
    {% for segment in segment_list %}
    <tr target-url="{% url 'collection:account' %}">
        <td>
            <strong>{{ segment.segment }}</strong>
        </td>
        <td class="right aligned active">
            {{ segment.t_1|default:0|intcomma }}
        </td>
        <td class="right aligned">
            {{ segment.t_2|default:0|intcomma }}
        </td>
        <td class="right aligned">
            {{ segment.t_3|default:0|intcomma }}
        </td>
        <td class="right aligned">
            {{ segment.t_4|default:0|intcomma }}
        </td>
        <td class="right aligned">
            {{ segment.t_5|default:0|intcomma }}
        </td>
        <td class="right aligned">
            {{ segment.t_6|default:0|intcomma }}
        </td>
        <td class="right aligned">
            <strong>{{ segment.saldo|default:0|intcomma }}</strong>
        </td>
    </tr>
    {% endfor %}
</tbody>